<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/gameroom.css')}}">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <title>Game-room</title>
</head>
<body>
    <h1> GAME ROOM</h1>

   <p>(1)__ (2)__ (3)__ (4)__ (5)__ (6)__ (7)__ (8)__ (9)__ (10)__ (11)__</p>
    
    {% if data1 %}
    <table>
        <tr>
            <td>Player 1 : </td>
            <td>{{data1}}</td>
        </tr>
    </table>

    {% else %}

    {% with msg = get_flashed_messages() %}
    {% if msg %}
       {% for info in msg %}
          {{ info }}
       {% endfor %}
    {% endif %}
 {% endwith %}

{% endif %}
    


    {% if data2 %}
    <table>
        <tr>
            <td>Player 2 : </td>
            <td>{{data2}}</td>
        </tr>
    </table>

    {% else %}

    {% with msg = get_flashed_messages() %}
    {% if msg %}
       {% for info in msg %}
          {{ info }}
       {% endfor %}
    {% endif %}
 {% endwith %}

{% endif %}

<script src="https://js.pusher.com/4.2/pusher.min.js"></script>
    
</body>
</html>