<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/gameroom.css')}}">
    <title>Game-room</title>
</head>
<body>
    <h1> GAME ROOM</h1>


    <div class="mainbox" name="mainbox">

        <div class="pile1">
            {% for value in range(3) %}
              <span class="pile1"></span></br>
            {% endfor %}
          <h2>Pile 1</h2>
        </div>
        
        <div class="emptyspace">
        </div>
        
        <div class="pile2">
            {% for value in range(5) %}
            <span class="pile2"></span></br>
          {% endfor %}
          <h2>Pile 2</h2>
        </div>
        
        <div class="emptyspace">
        </div>
        
        
        <div class="pile3">
            {% for value in range(2) %}
            <span class="pile3"></span></br>
          {% endfor %}
          <h2>Pile 3</h2>
        </div>
        </div>


    {% if data1 %}
    <table>
        <tr>
            <td>Player 1 : </td>
            <td>{{data1['name1']}}</td>
        </tr>
    </table>
    {% else %}

      {% with msg = get_flashed_messages() %}
      {% if msg %}
         {% for info in msg %}
            {{ info }}
         {% endfor %}
      {% endif %}
   {% endwith %}

{% endif %}

    {% if data2 %}
    <table>
        <tr>
            <td>Player 2 : </td>
            <td>{{data2['name2']}}</td>
        </tr>
    </table>
    {% else %}

      {% with msg = get_flashed_messages() %}
      {% if msg %}
         {% for info in msg %}
            {{ info }}
         {% endfor %}
      {% endif %}
   {% endwith %}

{% endif %}


    
</body>
</html>