<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css')}}">
    <title>Nim-Game</title>
</head>
<body>

    
    <h1>Nim-Game</h1>
    <h2>Surya Narayanan N S</h2>
    <h2>UTA ID : 1001877873</h2>

    <h2>Judge</h2>

    <form action="/playdetails" method="post">
        <table>
            <tr>
                <td><label for ="pile1">Number of stones in Pile1</label></td>
                <td><input type="text" id="pile1" name="pile1"></td>  
            </tr>
            <tr>
                <td><label for ="pile2">Number of stones in Pile2</label></td>
                <td><input type="text" id="pile2" name="pile2"></td>  
            </tr>
            <tr>
                <td><label for ="pile3">Number of stones in Pile3</label></td>
                <td><input type="text" id="pile3" name="pile3"></td>  
            </tr>
            <tr>
                <td><label for ="min1">Min stone picked by Player 1</label></td>
                <td><input type="text" id="min1" name="min1"></td>  
                <td><label for ="max1">Max stone picked by Player 1</label></td>
                <td><input type="text" id="max1" name="max1"></td>  
            </tr>
            <tr>
                <td><label for ="min2">Min stone picked by Player 2</label></td>
                <td><input type="text" id="min2" name="min2"></td>  
                <td><label for ="max2">Max stone picked by Player 2</label></td>
                <td><input type="text" id="max2" name="max2"></td>  
            </tr>

            <tr>
                <td><label for ="first">First Player</label></td>
                <td><input type="text" id="first" name="first"></td>  
            </tr>
           
            <tr>
                <td><input type="submit" value="SUBMIT"></td>
            </tr>
        </table>

    </form>




    
</body>
</html>